@page "{id?}"
@model SBHS.Pages.ConfirmationLeaveRequestPageModel
@{
    Layout = null;
}

<h1>Leave Request Submitted</h1>
<p>Your leave request with ID @Model.RequestId has been successfully submitted. You will receive a confirmation email once it's reviewed.</p>