@page
@model SBHS.Pages.DepartmentPage.DepartIndexModel

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<style>
    
</style>


<h2 class="title">Department</h2>
<hr/>
<p>
    <a asp-page="DepartCreate" class="create-button"><i class="fa fa-plus icon-button" aria-hidden="true"></i>New Department</a>
</p>
<table class="table" id="department">
    <thead>
        <tr>
            <th>
                Departments
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departments) {
        <tr>
            <td width="50%">
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td width="15%">
                <a asp-page="./DepartEdit" asp-route-id="@item.Id" class="btn btn-primary custom-btn">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>

                <a asp-page="./DepartDelete" asp-route-id="@item.Id" class="btn btn-danger custom-btn">
                    <i class="fas fa-trash"></i>
                </a>    
            </td>
        </tr>
}
    </tbody>
</table>
