@page
@model SBHS.Pages.WorkTitlePage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkTitles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTitles.WorkTitleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkTitles.WorkTitleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkTitles?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
