@page
@model SBHS.Pages.WorkTitlePage.WorkIndexModel

@{
    ViewData["Title"] = "Work Title";
}


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<style>

</style>

<h2 class="title">Work Title</h2>
<hr/>
<p>
    <a asp-page="WorkCreate" class="create-button"><i class="fa fa-plus icon-button" aria-hidden="true"></i>Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Work Titles
            </th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkTitles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTitleName)
            </td>
            <td width="20%">
                <a asp-page="./WorkEdit" asp-route-id="@item.Id" class="btn btn-primary custom-btn">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a asp-page="./WorkDelete" asp-route-id="@item.Id" class="btn btn-danger custom-btn">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
