<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SBHS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SBHS.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- App favicon -->
    <link rel="shortcut icon" href="~/favicon_hosp.ico">

    <!-- Plugins css -->
    <link href="~/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />

    <!-- Theme Config Js -->
    <script src="~/assets/js/head.js"></script>

    <!-- Bootstrap css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- App css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />


    <style>

    </style>

</head>


<body>
    <!-- Begin page -->
    <div id="wrapper">

        <div id="preloader">
            <div id="status">
                <div class="spinner">Loading...</div>
            </div>
        </div>

        <!-- ========== Menu ========== -->
        <div class="app-menu">

            <!-- Brand Logo -->
            <div class="logo-box">
                <!-- Brand Logo Light -->
                <a href="~/Admin" class="logo-light">
                    <img src="~/SHD.png" alt="logo" class="logo-lg">
                    <img src="~/HD3.png" alt="small logo" class="logo-sm">
                </a>

                <!-- Brand Logo Dark -->
                <a href="~/Admin" class="logo-dark">
                    <img src="~/SHL.png" alt="dark logo" class="logo-lg">
                    <img src="~/HL3.png" alt="small logo" class="logo-sm">
                </a>
            </div>

            <!-- menu-left -->
            <div class="scrollbar">

                <!-- User box -->
                <div class="user-box text-center">
                    <img src="~/assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle h5 mb-1 d-block" data-bs-toggle="dropdown">Geneva Kennedy</a>
                        <div class="dropdown-menu user-pro-dropdown">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-user me-1"></i>
                                <span>My Account</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-settings me-1"></i>
                                <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-lock me-1"></i>
                                <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-log-out me-1"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </div>
                    <p class="text-muted mb-0">Admin Head</p>
                </div>

                <!--- Menu -->
                <ul class="menu">

                    <li class="menu-title">Navigation</li>

                    <li class="menu-item">
                        <a href="/Index" class="menu-link">
                            <span class="menu-icon"><i class="bi bi-cast"></i></span>
                            <span class="menu-text"> Dashboards </span>
                        </a>
                    </li>


                    <li class="menu-title">Apps</li>


                    <li class="menu-item">
                        <a href="#menuCrm" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-icon"><i class="bi bi-card-text"></i></span>
                            <span class="menu-text"> Requests </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuCrm">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="~/LeaveReqAdmin" class="menu-link">
                                        <span class="menu-text">Leave Requests</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="~/OncallRequestAdmin" class="menu-link">
                                        <span class="menu-text">On-call Requests</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    

                    <li class="menu-item">
                        <a href="#menuEcommerce" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-icon"><i class="bi bi-people-fill"></i></span>
                            <span class="menu-text"> Management </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuEcommerce">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="~/Employees/EmployIndex" class="menu-link">
                                        <span class="menu-text">Employees</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="~/Roles/ManageRoles" class="menu-link">
                                        <span class="menu-text">User Roles</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="~/DepartmentPage/DepartIndex" class="menu-link">
                                        <span class="menu-text">Departments</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="~/WorkTitlePage/WorkIndex" class="menu-link">
                                        <span class="menu-text">Work Title</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="~/LeaveTypePage/LeaveTypeIndex" class="menu-link">
                                        <span class="menu-text">Leave Type</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>


                    <li class="menu-item">
                        <a href="~/Calendar" class="menu-link">
                            <span class="menu-icon"><i class="bi bi-calendar"></i></span>
                            <span class="menu-text"> Calendar </span>
                        </a>
                    </li>


                    <li class="menu-item">
                        <a href="~/RequestHistory" class="menu-link">
                            <span class="menu-icon"><i class="fa-solid fa-clock-rotate-left"></i></span>
                            <span class="menu-text"> History </span>
                        </a>
                    </li>

                </ul>
                <!--- End Menu -->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- ========== Left menu End ========== -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">

            <!-- ========== Topbar Start ========== -->
            <div class="navbar-custom">
                <div class="topbar">
                    <div class="topbar-menu d-flex align-items-center gap-1">

                        <!-- Topbar Brand Logo -->
                        <div class="logo-box">
                            <!-- Brand Logo Light -->
                            <a href="~/Admin" class="logo-light">
                                <img src="~/SHD.png" alt="logo" class="logo-lg">
                                <img src="~/HD3.png" alt="small logo" class="logo-sm">
                            </a>

                            <!-- Brand Logo Dark -->
                            <a href="~/Admin" class="logo-dark">
                                <img src="~/SHL.png" alt="dark logo" class="logo-lg">
                                <img src="~/HL3.png" alt="small logo" class="logo-sm">
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu">
                            <i class="mdi mdi-menu"></i>
                        </button>


                    </div>

                    <ul class="topbar-menu d-flex align-items-center">
                        <!-- Topbar Search Form -->
                        

                        <!-- Fullscreen Button -->
                        <li class="d-none d-md-inline-block">
                            <a class="nav-link waves-effect waves-light" href="" data-toggle="fullscreen">
                                <i class="fe-maximize font-22"></i>
                            </a>
                        </li>

                        <!-- Search Dropdown (for Mobile/Tablet) -->
                        <li class="dropdown d-lg-none">
                            <a class="nav-link dropdown-toggle waves-effect waves-light arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="ri-search-line font-22"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                <form class="p-3">
                                    <input type="search" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                </form>
                            </div>
                        </li>



                        

                        <!-- Light/Dark Mode Toggle Button -->
                        <li class="d-none d-sm-inline-block">
                            <div class="nav-link waves-effect waves-light" id="light-dark-mode">
                                <i class="ri-moon-line font-22"></i>
                            </div>
                        </li>

                        <li><partial name="_LoginPartial" /></li>

                        

                        <!-- Right Bar offcanvas button (Theme Customization Panel) -->
                        <li>
                            <a class="nav-link waves-effect waves-light" data-bs-toggle="offcanvas" href="#theme-settings-offcanvas">
                                <i class="fe-settings font-22"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- ========== Topbar End ========== -->


            <div class="content">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div><script>document.write(new Date().getFullYear())</script> © <b>Sibu Hospital</b> -All Right Reversed Design By UTS</div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>


        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>

    <!-- Plugins js-->
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- Dashboar 1 init js-->
    <script src="~/assets/js/pages/dashboard-1.init.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>